#arkanoid
{
    background-color: rgb(0, 0, 0);
    margin: auto;
}

#score, #level, #lives, #timer, #second, #minute
{
    display:inline;
}

html
{
    background-color: black;
}

div.keret
{
    width: 960px;
    margin: 24px auto;
}

div.belso
{
    margin: 24px;
    background-color: #222;
    border: solid 3px #00CC00;
    font-family: Verdana;
    color: #00CC00;
}

div.felso
{
    padding: 32px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

div.bal
{
    width: 200px;
    height: 320px;
    float: left;
    margin-top: 0;
    padding: 24px 0 48px 0;
    text-align: center;
}

div.jobb
{
    width: 800px;
    min-height: 600px;
    margin-left: 248px;
    padding: 32px;
    line-height: 18px;
    font-size: 12px;
    text-align: justify;
}

div.bal a
{
    display: block;
    text-decoration: none;
    border: solid 3px #00CC00;
    border-radius: 8px;
    margin: 8px 24px;
    padding: 8px;
    background-color: #222;
    color: #00CC00;
    font-weight: bold;
}

div.bal a:hover
{
    background-color: #00CC00;
    border: solid 3px #00CC00;
    color: #222;
}